/* ------------------------------------------- variables */
/* ------------------------------------------- variables */
/* ------------------------------------------- mixins */
/* ------------------------------------------- general */
body {
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}
html,
body,
#slider,
#contenido,
.row {
  width: 100%;
  position: relative;
}
.wrapper {
  box-sizing: border-box;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}
a.cta {
  -webkit-border-radius: 31px;
  -moz-border-radius: 31px;
  -ms-border-radius: 31px;
  -o-border-radius: 31px;
  border-radius: 31px;
  font-size: 1.5rem;
  display: block;
  background: transparent;
}
a.cta.v1 {
  border: 1px solid #ffbc2b;
  color: #ffbc2b;
  margin: 100px auto 0 auto;
  max-width: 300px;
  padding: 15px 30px;
}
a.cta.v2 {
  border: 1px solid #fff;
  color: #fff;
  padding: 15px 30px;
  min-width: 220px;
  box-sizing: border-box;
}
a.cta.v2 i {
  margin-right: 20px;
}
/* ------------------------------------------- contenido */
#contenido {
  text-align: center;
}
#contenido .row {
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
  padding: 60px 0;
}
#contenido .index {
  background: url('../img/back-home.jpg') center center no-repeat;
  background-size: cover;
}
#contenido .index .logo {
  margin-bottom: 80px;
  max-width: 350px;
}
#contenido .index h1 {
  color: #fff0c7;
  font-family: 'Dosis', sans-serif;
  font-size: 4rem;
  font-weight: 100;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  top: -15px;
}
#contenido .index h1 span {
  display: block;
  color: #fff;
  margin-top: 50px;
  font-size: 2.5rem;
}
#contenido .blownaway {
  background: #ff0066;
  color: #2d2d2d;
}
#contenido .blownaway .logo {
  margin-bottom: 20px;
  max-width: 500px;
}
#contenido .blownaway .link {
  color: #ff0066;
}
#contenido .blownaway .image {
  max-width: 780px;
}
#contenido .blownaway .cta.v2 {
  border-color: #000;
  color: #000;
  min-width: 280px;
}
#contenido .crafted {
  background: #f4f4f4;
  color: #8c6d8e;
}
#contenido .crafted .logo {
  margin-bottom: 20px;
  max-width: 300px;
}
#contenido .crafted .link {
  color: #ff0066;
}
#contenido .crafted .image {
  max-width: 780px;
}
#contenido .crafted .cta.v2 {
  border-color: #8c6d8e;
  color: #8c6d8e;
}
#contenido .creditel {
  background: #005ca5;
}
#contenido .creditel .logo {
  margin-bottom: 20px;
  max-width: 300px;
}
#contenido .creditel .link {
  color: #ff0066;
}
#contenido .creditel .image {
  max-width: 500px;
}
#contenido .creditel .cta.v2 {
  border-color: #fcd446;
  color: #fcd446;
}
#contenido .stationdose {
  background: #3ed1e3;
  color: #2d2d2d;
}
#contenido .stationdose .logo {
  max-width: 300px;
}
#contenido .stationdose .link {
  color: #23d2e1;
}
#contenido .stationdose .image {
  max-width: 560px;
}
#contenido .stationdose .cta.v2 {
  border-color: #7a7a7a;
  color: #7a7a7a;
}
#contenido .stationdose .cta.v2 span {
  font-size: .7rem;
}
#contenido .odr {
  background: #0f75bd;
  color: #2d2d2d;
}
#contenido .odr .logo {
  max-width: 350px;
}
#contenido .odr .link {
  color: #23d2e1;
}
#contenido .odr .image {
  max-width: 775px;
}
#contenido .odr .cta.v2 {
  min-width: 250px;
}
#contenido .odr .cta.v2 span {
  font-size: .7rem;
}
#contenido .vasctrac {
  background: #4b588b;
  color: #2d2d2d;
}
#contenido .vasctrac .logo {
  max-width: 280px;
  margin-bottom: 30px;
}
#contenido .vasctrac .image {
  max-width: 500px;
}
#contenido .vasctrac .cta.v2 {
  max-width: 220px;
  margin: 0 auto 50px;
  border-color: #ff3554;
  color: #ff3554;
}
#contenido .honker {
  background: #ffda0d;
  color: #2d2d2d;
}
#contenido .honker .logo {
  max-width: 250px;
}
#contenido .honker .image {
  max-width: 500px;
}
#contenido .honker .cta.v2 {
  border-color: #009fe8;
  color: #009fe8;
}
#contenido .headgum {
  background: #1cb18e;
  color: #2d2d2d;
}
#contenido .headgum .logo {
  max-width: 250px;
}
#contenido .headgum .image {
  max-width: 500px;
}
#contenido .headgum .cta.v2 {
  max-width: 250px;
  margin: 0 auto 50px;
  border-color: #263748;
  color: #263748;
}
#contenido .headgum .cta.v2 span {
  font-size: .7rem;
}
#contenido .logo {
  margin-left: auto;
  margin-right: auto;
}
#contenido .logo img {
  width: 100%;
}
#contenido .image {
  margin: 0 auto;
}
#contenido .image img {
  width: 100%;
}
#contenido .beta {
  margin: -25px auto -5px;
  max-width: 250px;
}
#contenido .beta img {
  width: 100%;
}
#contenido .actions {
  text-align: center;
  margin-top: 10px;
}
#contenido .actions li {
  display: inline-block;
  margin-right: -4px;
}
#contenido .actions li + li {
  margin-left: 20px;
}
#contenido .footer {
  background: #283136;
  color: #fff;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: -60px;
  margin-top: 50px;
}
#contenido .footer p {
  max-width: 1170px;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 30px;
}
/* ------------------------------------------- responsive */
@media (max-width: 615px) {
  #contenido .index h1 {
    font-size: 2rem;
  }
  #contenido .index h1 span {
    font-size: 1.5rem;
  }
  a.cta.v1 {
    box-sizing: border-box;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #contenido .actions li {
    display: block;
    margin-right: 0;
  }
  #contenido .actions li + li {
    margin-left: 0;
    margin-top: 20px;
  }
  .footer {
    padding: 50px 20px;
  }
}
