/* ------------------------------------------- variables */

@naranja: #ffbc2b;
@beige: #fff0c7;

/* ------------------------------------------- mixins */

.transition (@transition) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
      -ms-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}
.transform (@transform) {
  -webkit-transform: @transform;
     -moz-transform: @transform;
      -ms-transform: @transform;
       -o-transform: @transform;
          transform: @transform;
}
.border-radius (@borderradius) {
  -webkit-border-radius: @borderradius;
     -moz-border-radius: @borderradius;
      -ms-border-radius: @borderradius;
       -o-border-radius: @borderradius;
          border-radius: @borderradius;
}

/* ------------------------------------------- general */

body {
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

html,
body,
#slider,
#contenido,
.row {
  width: 100%;
  position: relative;
}

.wrapper {
  box-sizing: border-box;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}

a.cta {
  .border-radius(31px);
  font-size: 1.5rem;
  display: block;
  background: transparent;
}
a.cta.v1 {
  border: 1px solid @naranja;
  color: @naranja;
  margin: 100px auto 0 auto;
  max-width: 300px;
  padding: 15px 30px;
}
a.cta.v2 {
  border: 1px solid #fff;
  color: #fff;
  padding: 15px 30px;
  min-width: 220px;
  box-sizing: border-box;

  i { margin-right: 20px }
}

/* ------------------------------------------- contenido */

#contenido {
  text-align: center;

  .row {
    .transition(transform 1s);
    .transform(translateZ(0));
    padding: 60px 0;
  }
  .index {
    background: url('../img/back-home.jpg') center center no-repeat;
    background-size: cover;

    .logo {
      margin-bottom: 80px;
      max-width: 350px;
    }
    h1 {
      color: @beige;
      font-family: 'Dosis', sans-serif;
      font-size: 4rem;
      font-weight: 100;
      max-width: 600px;
      margin: 0 auto;
      position: relative;
      top: -15px;

      span {
        display: block;
        color: #fff;
        margin-top: 50px;
        font-size: 2.5rem;
      }
    }
  }
  .blownaway {
    background: #ff0066;
    color: #2d2d2d;

    .logo {
      margin-bottom: 20px;
      max-width: 500px;
    }
    .link { color: #ff0066; }
    .image { max-width: 780px; }
    .cta.v2 {
      border-color: #000;
      color: #000;
      min-width: 280px;
    }
  }
  .crafted {
    background: #f4f4f4;
    color: #8c6d8e;

    .logo {
      margin-bottom: 20px;
      max-width: 300px;
    }
    .link { color: #ff0066; }
    .image { max-width: 780px; }
    .cta.v2 {
      border-color: #8c6d8e;
      color: #8c6d8e;
    }
  }
  .creditel {
    background: #005ca5;

    .logo {
      margin-bottom: 20px;
      max-width: 300px;
    }
    .link { color: #ff0066; }
    .image { max-width: 500px; }
    .cta.v2 {
      border-color: #fcd446;
      color: #fcd446;
    }
  }
  .stationdose {
    background: #3ed1e3;
    color: #2d2d2d;

    .logo { max-width: 300px; }
    .link { color: #23d2e1; }
    .image { max-width: 560px; }
    .cta.v2 {
      border-color: #7a7a7a;
      color: #7a7a7a;

      span { font-size: .7rem; }
    }
  }
  .odr {
    background: #0f75bd;
    color: #2d2d2d;

    .logo { max-width: 350px; }
    .link { color: #23d2e1; }
    .image { max-width: 775px; }
    .cta.v2 {
      min-width: 250px;

      span { font-size: .7rem; }
    }
  }
  .vasctrac {
    background: #4b588b;
    color: #2d2d2d;

    .logo {
      max-width: 280px;
      margin-bottom: 30px;
    }
    .image { max-width: 500px; }
    .cta.v2 {
      max-width: 220px;
      margin: 0 auto 50px;
      border-color: #ff3554;
      color: #ff3554;
    }
  }
  .honker {
    background: #ffda0d;
    color: #2d2d2d;

    .logo { max-width: 250px; }
    .image { max-width: 500px; }
    .cta.v2 {
      border-color: #009fe8;
      color: #009fe8;
    }
  }
  .headgum {
    background: #1cb18e;
    color: #2d2d2d;

    .logo { max-width: 250px; }
    .image { max-width: 500px; }
    .cta.v2 {
      max-width: 250px;
      margin: 0 auto 50px;
      border-color: #263748;
      color: #263748;

       span { font-size: .7rem; }
    }
  }
  .logo {
    margin-left: auto;
    margin-right: auto;

    img { width: 100% }
  }
  .image {
    margin: 0 auto;

    img { width: 100% }
  }
  .beta {
    margin: -25px auto -5px;
    max-width: 250px;

    img { width: 100% }
  }
  .actions {
    text-align: center;
    margin-top: 10px;

    li {
      display: inline-block;
      margin-right: -4px;
    }
    li + li { margin-left: 20px }
  }
  .footer {
    background: #283136;
    color: #fff;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: -60px;
    margin-top: 50px;

    p {
      max-width: 1170px;
      margin: 0 auto;
      font-size: 1.2rem;
      line-height: 30px;
    }
  }
}

/* ------------------------------------------- responsive */

@media (max-width: 615px) {
  #contenido .index h1 { font-size: 2rem; }
  #contenido .index h1 span { font-size: 1.5rem; }
  a.cta.v1 {
    box-sizing: border-box;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #contenido .actions li {
    display: block;
    margin-right: 0;
  }
  #contenido .actions li + li {
    margin-left: 0;
    margin-top: 20px;
  }
  .footer { padding: 50px 20px; }
}
